@model Trial.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
@*<link rel="stylesheet" href="~/Content/css/bootstrap.min.css">*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="~/Content/login_signupStyle.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=family=League+Spartan:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Poppins:wght@700&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<body aria-labelledby="title" >
    <img src="~/Content/images/background.png" alt="" class="background">
    @*    <h2 id="title">@ViewBag.Title.</h2>
        <h3>Associate your @ViewBag.LoginProvider account.</h3>*@
    <div class="signup Container pushing2">
            <div class="text" style="color: white; top: 0%; left: 78%; font-size: 300%;">
                Sign up
            </div>
        </div>
    <p class="text-info" style="font-family: 'Poppins'; position: absolute; top: 20%; left: 20%; color: white; font-size: 25px;width:60%;
                        text-align:center; font-weight: 700">
        You've successfully authenticated with @ViewBag.LoginProvider.
        Please enter a position for this site below and click the "Create Account" to finish
        logging in.
    </p>
    <div class="Container2 LGFORM" style="opacity: 1; z-index: 1; pointer-events: all; left: 33%; top: 33%">
        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
            new { @class = "form FORMlogin", @style = "position: absolute; top: 0px; left: 0px;background-color: trasparent" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="inputbox"style="width: 500px" >
                @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@
                <input type="text" required="required" name="Email" value="@Model.Email">
                <i class="bi bi-person-circle" style="top:25%;"></i>
                <span style="color:transparent;">Email</span>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="radio" style="position:absolute; top: 3.9%; left: 61%;">
                @*@Html.LabelFor(m => m.Position, new { @class = "col-md-2 col-form-label" })*@
                @*@Html.RadioButtonFor(m => m.Position, "Applicant") Applicant
            @Html.RadioButtonFor(m => m.Position, "Employer") Employer*@
                <input type="radio" name="Position" class="radioInput" value="Applicant" id="myRadio3" checked>
                <label for="myRadio3" class="radioLabel" style="font-family: 'Poppins'">Applicant</label>

                <input type="radio" name="Position" class="radioInput" value="Employer" id="myRadio4">
                <label for="myRadio4" class="radioLabel" style="font-family: 'Poppins'">Employer</label>

                @Html.ValidationMessageFor(m => m.Position, "", new { @class = "text-danger" })

            </div>
            <div class="inputbox">
                    <input type="submit" class="submitBtn" id="SignUpSubmit" value="Create Account" 
                           style="position: absolute; top: -10px; left: 15%; width: 35%; padding: 6.5px 12px; 
                            font-family: 'Poppins'; font-size: 95%"/>
            </div>
        }
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
